@import url("./main-grid.css");
@import url("./main-font.css");
@import url("./main-navbar.css");

html,
body {
  margin: 0;
}

/* content */
.content {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  align-items: flex-start;
}

.card {
  border: 3px solid black;
  padding: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
}

.post-title {
  max-width: 350px;
  font-size: 1rem;
  text-align: center;
}

.read-more {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background: #fe346e;
  border: none;
}

.read-more a {
  text-decoration: none;
  color: white;
}

/* footer */
.footer {
  padding: 20px;
  background: #3f3f44;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact-links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

/* media query */
@media (min-width: 1300px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .card {
    padding: 2rem;
  }

  .card-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}