html,
body {
  margin: 0;
  /* background: #512b58; */
}

.container {
  height: 100%;
  /* background: yellow; */
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px minmax(683px, auto) 174px;
}

.container div {
  /* border: 2px solid red; */
  /* display: flex; */
}

.navbar {
  /* grid-area: nv; */
  /* padding: 20px; */
  background: #d2fafb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home,
.about {
  padding: 10px;
  background-color: #fe346e;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  /* margin: 0 20px; */
}

.header {
  /* grid-area: hd; */
}

.content {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: 180px; */
  /* grid-template-rows: repeat(2, minmax(200px, 1fr)); */
  grid-gap: 2rem;
  align-items: flex-start;
}

.card {
  border: 3px solid black;
  /* min-width: 500px; */
  /* display: flex;
  flex-direction: column; */
  padding: 2rem;
  /* background: #2c003e; */
  /* color: white; */
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.author-details {}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* justify-self: flex-end; */
  display: block;
  margin-bottom: 10px;
}

.subject {
  max-width: 350px;
  /* display: block; */
  justify-self: flex-end;
}

.read-more {
  /* align-self: center;
  justify-self: flex-end; */
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background: #fe346e;
  color: white;
  border: none;
}

@media (min-width: 1300px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer {
  /* grid-area: ft; */
  padding: 20px;
  background: #3f3f44;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact-links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.contact-links a {
  /* display: block; */
  /* text-decoration: none;
  color: white;
} */