html,
body {
  margin: 0;
}

.container {
  height: 100%;
  background: yellow;
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 783px 100px;
}

.container > div {
  border: 2px solid red;
  /* display: flex; */
}

.navbar {
  /* grid-area: nv; */
}

.header {
  /* grid-area: hd; */
}

.content {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.footer {
  /* grid-area: ft; */
}

.card {
  border: 3px solid black;
}
